<!doctype html>
<html  lang="fr-FR">
   <head><meta charset="utf-8"></head>
   <body>
      
      <form action = "/ajouteEntree" method = "POST">
         <h3>Données de l'élève</h3>
         <label for = "prenom">Prénom</label>
         <input type = "text" name = "prenom" id = "prenom" required/></br>
         .
         .
         .
      </form>
      <a href = "/">Retourner à la page d'accueil</a>
   </body>
</html>
