<!doctype html>
<html lang="fr-FR">

<head>
   <meta charset="utf-8">
</head>

<body>
    <ul>
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Menu1</a></li>
    <li><a href="#">Menu2</a></li>
    </ul>

   <form action = "/ajouteEntree" method = "POST">
         <h3>Recherche</h3>
         Filtre<br>
         <li class = "deroulant"> <input type = "text" name= "filtre" id = "filtre"/>
            <ul class = "sous">
            
            </ul>
         </li>

         </br>
      </form>
      <a href = "/">Retourner à la page d'accueil</a>
</body>

</html>







